<ion-header no-border [style.height.px]="headerHeight" [style.width.px]="screenWidth" [style.left.px]="pageLeft"
            position="absolute">
  <div class="background-image" [ngStyle]="{'background-image': 'url(' + url_dispenser_picture + ')'}">

    <div class="overlay">

      <!--Acuo Logo-->
      <div class="logo">
        <img src="assets/dashboard/acuo_logo.png">
      </div>

      <!--Close Button to go back to Dashboard-->
      <button class="close-button" (click)="goToDashboard()">
        <ion-icon name="close" size="large"></ion-icon>
      </button>

      <!--Jellyfish icon-->
      <div class="jellyfish-icon" [style.top.px]="jellyfishIconTop" [style.left.px]="jellyfishIconLeft">
        <img alt="avatar" src="assets/dashboard/jellyfishIcon.png">
      </div>

      <!--Detailed Information text-->
      <div class="detailed-information-text" [style.top.px]="detailedInformationTop">
        Detailed Information
      </div>

    </div>

  </div>
</ion-header>

<ion-content [style.height.px]="contentHeight" [style.width.px]="screenWidth" [style.left.px]="pageLeft" position="absolute">

  <div class="temperature-content">
    <div class="temperature-switch">

      <span class="toggle-button" style="float: right;">
        <ion-toggle></ion-toggle>
      </span>

    </div>

    <div class="temperature-display-space">

      <span class="temperature-display-block">
        <div class="temperature-display">
          <img class="temperature-logo" src="assets/detailed-information/cold.png" alt="colt logo">

          <span class="temperature-text cold-text">{{displayCelsiusCold}}</span>
        </div>
      </span>

      <span class="temperature-display-block" color="#36a1ce">
        <div class="temperature-display">
          <img class="temperature-logo" src="assets/detailed-information/warm.png" alt="colt logo">

          <span class="temperature-text warm-color">{{displayCelsiusWarm}}</span>
        </div>
      </span>

      <span class="temperature-display-block" color="#36a1ce">
        <div class="temperature-display">
          <img class="temperature-logo" src="assets/detailed-information/hot.png" alt="colt logo">

          <span class="temperature-text hot-color">{{displayCelsiusHot}}</span>
        </div>
      </span>
    </div>

  </div>

  <div>

  </div>

  <div>

  </div>

</ion-content>