//=======================
// Header Part CSS 
//=======================

.background-image,
.overlay{
    height: 100%;
    width: 100%;
}

.background-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.overlay {
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.logo{
    position: absolute;
    top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 43px;
    width: 80px;
}

.close-button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: transparent;
    text-align: center;
}

.jellyfish-icon{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
}

.detailed-information-text{
    position: absolute;
    height: 20px;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: white;
    top: 50%;
    margin-top: 45px;
}

//=======================
// Content Part CSS
//=======================
.temperature-display-content,
.dispenser-position-content,
.dispenser-type-content{
    position: relative;
    width: 90%;
    top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/*------------------------------------------------
Dispenser Temperature Display
------------------------------------------------*/
.temperature-display-content,
.temperature-switch,
.immediate-temperature-text,
.toggle-button,
.degree-letter,
.temperature-display-space,
.temperature-display,
.temperature-logo,
.temperature-text{
    position: relative;
}

.temperature-display-content{
    height: 100px;
    border-radius: 7px;
    background-color: #f3f3f3;
}

.temperature-switch{
    height: 40%;
    width: 100%;
}

.immediate-temperature-text,
.toggle-button,
.degree-letter{
    top: 10px;
}

.immediate-temperature-text{
    left: 10px;
    font-size: 15px;
    color: #666666;
}

.toggle-button,
.degree-letter{
    float: right;
}

.toggle-button{
    height: 21px;
    width: 30px;
}

.degree-letter{
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 17px;
    color: #666666;
}

.temperature-display-space{
    height: 60%;
    width: 100%;
    background-color: transparent;
}

.temperature-display-block{
    width: 33.33%;
    height: 100%;
    float: left;
}

.temperature-display{
    left: 0;
    width: 100px;
    height: 90%;
    margin: 0 auto;
    text-align: center;
}

.temperature-logo{
    left: 3px;
    float: left;
    top: 10%;
}

.temperature-text{
    position: relative;
    float: left;
    left: 4px;
    top: 35%;
    font-size: 20px;
}

.cold-text{
    color: #36a1ce;
}

.warm-color{
    color: #f5a623;
}

.hot-color{
    color: #fb7581;
}

/*------------------------------------------------
Dispenser Position Display
------------------------------------------------*/
.dispenser-position-content{
    margin-top: 10px;
    min-height: 90px;
    border-bottom: 1px solid #e2e2e2;
}

.information-text,
.position-display,
.type-display{
    position: relative;
    font-size: 17px;
    top: 25%;
}

.information-text{
    float: left;
    left: 10px;
    color: #666666;
}

.position-display,
.type-display{
    float: right;
    right: 10px;
    text-align: right;
}

.position-display{
    width: 70%;
}

/*------------------------------------------------
Dispenser Type Display
------------------------------------------------*/
.dispenser-type-content{
    height: 40px;
}

//=============================
// CSS properties Configuration
//=============================

ion-toggle{
    zoom: 0.6;
    position: relative;
}
