<ion-header no-border [style.height.px]="headerHeight" [style.width.px]="screenWidth" [style.left.px]="pageLeft" position="absolute">
  <div class="background-image" [ngStyle]="{'background-image': 'url(' + url_dispenser_picture + ')'}">

    <div class="overlay">

      <!--Acuo Logo-->
      <div class="logo">
        <img src="assets/dashboard/acuo_logo.png">
      </div>

      <!--Close Button to go back to Dashboard-->
      <button class="close-button" (click)="goToDashboard()">
        <ion-icon name="close" size="large"></ion-icon>
      </button>

      <!--Jellyfish icon-->
      <div class="jellyfish-icon" [style.top.px]="jellyfishIconTop" [style.left.px]="jellyfishIconLeft">
        <img alt="avatar" src="assets/dashboard/jellyfishIcon.png">
      </div>

      <!--Detailed Information text-->
      <div class="detailed-information-text" [style.top.px]="detailedInformationTop">
        Detailed Information
      </div>

    </div>

  </div>
</ion-header>

<ion-content [style.height.px]="contentHeight" [style.width.px]="screenWidth" [style.left.px]="pageLeft" position="absolute">

  <div class="temperature-display-content">
    <div class="temperature-switch">

      <span class="immediate-temperature-text">Immediate temperature</span>

      <span class="degree-letter">°F</span>

      <span class="toggle-button">
        <ion-toggle mode="ios"></ion-toggle>
      </span>

      <span class="degree-letter">°C</span>

    </div>

    <div class="temperature-display-space">

      <span class="temperature-display-block">
        <div class="temperature-display">
          <img class="temperature-logo" src="assets/detailed-information/cold.png" alt="colt logo">

          <span class="temperature-text cold-text">{{displayCelsiusCold}}</span>
        </div>
      </span>

      <span class="temperature-display-block" color="#36a1ce">
        <div class="temperature-display">
          <img class="temperature-logo" src="assets/detailed-information/warm.png" alt="colt logo">

          <span class="temperature-text warm-color">{{displayCelsiusWarm}}</span>
        </div>
      </span>

      <span class="temperature-display-block" color="#36a1ce">
        <div class="temperature-display">
          <img class="temperature-logo" src="assets/detailed-information/hot.png" alt="colt logo">

          <span class="temperature-text hot-color">{{displayCelsiusHot}}</span>
        </div>
      </span>
    </div>

  </div>

  <div class="dispenser-position-content">
    <span class="information-text">Position</span>

    <span class="position-display">
      {{dispenserBuildingPosition}}
      <br>
      {{dispenserPlacedPosition}}
    </span>
  </div>

  <div class="dispenser-type-content">
    <span class="information-text">Type</span>

    <span class="type-display">{{dispenser_type}}</span>
  </div>

</ion-content>