<ion-content>

  <!-- header -->
  <div class="header" [style.backgroundImage]="'url(' + backgroundImg + ')'">
    <div class="overlay header-inside">
      
      <div class="header-inside--icon-left float-left">
        <img 
          class="icon"
          src="assets/acuo-icons/rectangle_2@3x.png" 
          alt="acuo-icons1"
        >
      </div>
      
      <div class="header-inside--title-center float-left">
        <img 
          class="icon avatar"
          src="assets\acuo-avatar\group-6@3x.png" 
          alt="acuo-avatar1"
        >
        <h2>Maintenance Progress</h2>
      </div>
      
      <div class="header-inside--icon-right float-left">
        <img 
          class="icon"
          src="assets\cancel\rectangle@3x.png" 
          alt="acuo-cancel1"
          (click)="backFunc()"
        >
      </div>

    </div>
  </div>

  <ion-slides mode="ios" pager="true" scrollbar="true"
    (ionSlideTap)="updateCurrentSession()"
    (ionSlideDrag)="updateCurrentSession()"
  >
    <ion-slide *ngFor="let reports of items">

      <!-- estimate -->
      <div class="estimate">
        <div>
          <ion-icon name="alert" color="warning" size="large"></ion-icon>
        </div>
        <div class="estimate-title">
          <b>Report submitted</b>
        </div>
        <div class="estimate-subtitle">
          Estimated completion time:
          <br>
          {{reports.estimateTime}} hours later
        </div>
      </div>

      <div class="progress" style="text-align: center" *ngIf="items.length === 0">
        <b>No progress is available</b>
      </div>

      <!-- progress -->
      <div class="progress">
            
        <!-- make a list -->
        <ul>
          <li *ngFor="let item of reports.data">
    
            <!-- left side the dot -->
            <div class="fa"></div>
    
            <!-- right side the content with left border -->
            <div class="fi">
              {{item.Time}}
              <br>
              {{item.Status}}
              <br>
              <span *ngIf="item.Information !== null">
                {{item.Information}}
                <br>
              </span>
            </div>
    
          </li>
        </ul>     
      </div>

    </ion-slide>
  </ion-slides>

</ion-content>