<!DOCTYPE html>
<head>
  <title>ACUO | Register Page</title>
</head>

<ion-content class="i-theme1">

  <div class="icon-cancel">
    <img src="assets/cancel/rectangle-black@3x.png" alt="cancel" (click)="backFunc()">
  </div>

  <div class="header">
    <img 
      class="img-header"
      src="assets/acuo-icons/rectangle_2@3x.png" 
      alt="acuo-icons">
    <h3>Register and have your access to our smart dispenser!</h3>
  </div>

  <div class="section">

    <div>
      <!-- <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="email" [(ngModel)]="fullname"></ion-input>
      </ion-item> -->
  
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="email" (change)=checkEmail(email)></ion-input>
        <p *ngIf="emailFalse" class="falseInput">Email is invalid!</p>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" (change)=checkPassword(password)></ion-input>
        <p *ngIf="passwordFalse" class="falseInput">Password must minimum 6 character with at least contains 1 alphabet and 1 number!</p>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Re-enter Password</ion-label>
        <ion-input type="password" [(ngModel)]="repassword"></ion-input>
      </ion-item>
    </div>

    <p class="confirm-text">
      By clicking <b>Sign Up</b>, you agree to our Terms, Data Policy and Cookie Policy.
      You will receieve verification email in you mailbox in order to verify your account.
    </p>

    <div class="btn-yes">
      <ion-button class="i-btn-yes" size="small" fill="solid" expand="block" (click)="signUp()">Sign up</ion-button>
    </div>

  </div>
</ion-content>
