ion-content {
    --background: #FFFFFF;
    --color: #000000;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
    overflow: auto;
}

.header-inside {
    padding: 15px;
    overflow: auto;
}

.header-inside--icon-left {
    width: 25%;
    left: 0;
    text-align: left;
    height: 100%;
}

.header-inside--title-center {
    width: 50%;
    text-align: center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}

.header-inside--title {
    text-align: center; 
    clear: both;
}

.header-inside--icon-right {
    width: 25%;
    right: 0;
    text-align: right;
    height: 100%;
}

.avatar {
    width: 70%;
    max-width: 100px;
}

.float-left {
    float: left;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);

}

.content-title {
    --background: rgba(0,0,0,0); 
    margin-bottom: -20px
}

.content-body {
    padding: 5px;
}

.content-body--other-input {
    border-bottom: 1px solid grey;
    margin-left: 10px;
}

ion-checkbox {
    margin-right: 10px;
}

.uploadPhoto {
    display: block;
    opacity: 0.5;
    margin: 5px;
}

.image-upload {
    margin: 5px;
    float: left;
    display: table-row;
}

.imageContainer {
  margin: 10px auto 20px auto;
  display: table;
}

.imageContainer--input {
    padding: 20px; 
    margin: 10px 5px; 
    display: table; 
    float: left; 
    border: dashed #dbdbdb;
    border-radius: 5px;
}

.image-upload>input {
    display: none;
}

.addImage {
    float: left;
    border-style: dashed;
    border-radius: 5px;
    border-color: grey;
    margin-left: 5px;
}

.delete {
    text-align: center;
    color: red;
    margin-bottom: 5px;
    opacity: 0.5;
}

.imageUrl {
    max-height: 75px;
    margin: 5px;
    display: table-row;
}