<!DOCTYPE html>
<head>
  <title>ACUO | Login Page</title>
</head>

<ion-content class="i-theme1">

  <div class="header">
    <img 
      class="img-header"
      src="assets/acuo-icons/rectangle_2@3x.png" 
      alt="acuo-icons">
    <h3>Welcome to ACUO login page</h3>
  </div>

  <div class="section">

    <div>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

     <ion-item>
      <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>

    <div class="btn-yes">
      <ion-button class="i-btn-yes" size="small" fill="solid" expand="block" (click)="login()">Login</ion-button>
    </div>

    <div>
      <p style="text-align: center">
        Don't have account yet?
        <ion-text (click)="registerlink()" color="primary">Sign up</ion-text>
        here. 
      </p>
    </div>

  </div>
  
</ion-content>
